body {
    margin: 0;
    height: 100vh;
    background-image: url("bg.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial, sans-serif;
}

.container {
    background: rgba(255, 255, 255, 0.9);
    padding: 30px;
    border-radius: 12px;
    text-align: center;
    width: 400px;
}

.result {
    margin-top: 20px;
    font-size: 18px;
    font-weight: bold;
}
