<!DOCTYPE html>
<html>
<head>
    <title>Crop Disease Detection</title>

    <!-- CSS FILE LINK -->
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>

<div class="container">
    <h2>Crop Disease Detection</h2>

    <form action="/predict" method="post" enctype="multipart/form-data">
        <input type="file" name="image" required><br><br>
        <button type="submit">Predict</button>
    </form>

    {% if label %}
        <div class="result">
            {{ label }}
        </div>
    {% endif %}
</div>

</body>
</html>
