<!DOCTYPE html>
<html>
<head>
    <title>Crop Disease Detection</title>

    <!-- CSS FILE LINK -->
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>

<div class="container">
    <h2>Crop Disease Detection</h2>

    <form action="/predict" method="post" enctype="multipart/form-data">
        <input type="file" name="image" required><br><br>
        <button type="submit">Predict</button>
    </form>

    {% if image_path %}
        <div class="preview">
            <img src="{{ url_for('static', filename=image_path) }}" width="250">
        </div>
    {% endif %}

    {% if label %}
        <div class="result">
            <p><b>{{ label }}</b></p>

            {% if confidence %}
                <p>Confidence: <b>{{ confidence }}%</b></p>
            {% endif %}
        </div>
    {% endif %}
</div>

</body>
</html>
